body {
    background-color: whitesmoke;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    color: black; 
    text-align: center;
}

.topnav {
background-color: black;
overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: medium;
}

.topnav a.bleh {
    background-color: #14213d;
    color: whitesmoke;
}

.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 20px 22px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropcontent {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropcontent a {
    float: none;
    color: black;
    padding: 18px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #D4DCFF;
    color: black;
}

.dropcontent a:hover {
    background-color: #D4DCFF;
    color: black;
}

.dropdown:hover .dropcontent {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  * {box-sizing:border-box}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .price {
    color: black;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  footer {
    margin-top: auto;
    background-color: #000;
    color: whitesmoke;
    width: 100%;
    height: 100px;
   }

   