body {
    background-color: #8A84E2;
    margin: 0;
}
h1 {
    color: black; 
    text-align: center;
}

.topnav {
background-color: #84AFE6;
overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: medium;
}

.topnav a.bleh {
    background-color: #79BEEE;
    color: black;
}

.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 20px 22px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropcontent {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropcontent a {
    float: none;
    color: black;
    padding: 18px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #D4DCFF;
    color: black;
}

.dropcontent a:hover {
    background-color: #D4DCFF;
    color: black;
}

.dropdown:hover .dropcontent {
    display: block;
}

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-3 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-2 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-1 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-3,
.col-2,
.col-1 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 600px; 
}

input[type=text] {
  width: 550px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-3 {
    margin-bottom: 20px;
  }
}