body {
    background-color: #cdb4db;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  background-color: whitesmoke;
  padding: 30px;
  overflow: hidden;
  margin: 5px;
}

h1 {
    color: black; 
    text-align: center;
}

p {
  background-color: inherit;
  color: #000;
}

.topnav {
background-color: black;
overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: medium;
}

.topnav a.bleh {
    background-color: #14213d
}

.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 20px 22px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropcontent {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropcontent a {
    float: none;
    color: black;
    padding: 18px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #D4DCFF;
    color: black;
}

.dropcontent a:hover {
    background-color: #D4DCFF;
    color: black;
}

.dropdown:hover .dropcontent {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }


  * {
    box-sizing: border-box;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: navy;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #18125A;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .help {
    text-align: center;
    margin: 20px;
  }
  
  .socialmedia {
    margin: 20px;
  }

  .fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-instagram {
    background-color: lightcoral;
  }
.fa-facebook {
  background-color: navy;
}
.fa-reddit {
  background-color: coral;
}
.fa-twitter {
  background-color: lightskyblue;
}


 footer {
  margin-top: auto;
  background-color: #000;
  color: whitesmoke;
  width: 100%;
  height: 100px;
 }