body {
    background-color: #cdb4db;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  background-color: whitesmoke;
  padding: 30px;
  overflow: hidden;
  margin: 5px;
}

h1, h2, p {
    color: black; 
    text-align: center;
    background-color: inherit;
}


.topnav {
background-color: black;
overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: medium;
}

.topnav a.bleh {
    background-color: #14213d;
    color: whitesmoke;
}

.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 20px 22px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropcontent {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropcontent a {
    float: none;
    color: black;
    padding: 18px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #D4DCFF;
    color: black;
}

.dropcontent a:hover {
    background-color: #D4DCFF;
    color: black;
}

.dropdown:hover .dropcontent {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }



  * {box-sizing:border-box}

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .myslides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .bruv {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.kaboom {
  text-align: center;
  margin: 30px;
}

  footer {
    margin-top: auto;
    background-color: #000;
    color: whitesmoke;
    width: 100%;
    height: 100px;
  }